.static-icon {
  width: 24px;
  height: 24px;
}

.static-icon-cart {
  width: 27px;
  height: 27px;
}

.gif-active {
   transform: scale(1.5);
}

.static-icon-profile {
  width: 30px;
  height: 30px;
}

.logo-size {
  width: 80px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border-radius: 8px; /* Optional, per angoli arrotondati */
}


.logo-size:hover {
  transform: scale(0.9); /* Ingrandisce leggermente il logo */
}
.badge {
  font-size: 0.75rem; /* Dimensione del testo */
  padding: 0.4em 0.6em; /* Spaziatura interna */
  width: 1.5rem; /* Larghezza fissa */
  height: 1.5rem; /* Altezza fissa */
  display: flex; /* Per centrare il contenuto */
  justify-content: center; /* Centra il numero orizzontalmente */
  align-items: center; /* Centra il numero verticalmente */
  border-radius: 50%; /* Forma circolare */
}

.static-icon-cart {
  width: 24px; /* Larghezza dell'icona del carrello */
  height: 24px; /* Altezza dell'icona del carrello */
}

.custom-start {
  right: -8px; /* Sposta leggermente verso destra */
  top: 0px; /* Allinea verticalmente */
  transform: translate(50%, -50%); /* Mantiene il badge sopra l'icona */
}
