<header>
  <div class="bg-dark">
    <div class="container">
      <div class="row align-items-center">
        <!-- Colonna Logo e Form -->
        <div class="col-lg-6 col-md-12 d-flex align-items-center">
          <!-- Logo -->
          <a href="/" class="d-flex align-items-center my-2 my-lg-0">
            <img src="/logo.png" alt="Logo-img" class="logo-size" />
          </a>
          <!-- Form -->
          <form class="ms-3 w-100 w-lg-50 mt-2 mt-md-0" role="search">
            <input
              type="search"
              class="form-control"
              placeholder="Search..."
              aria-label="Search"
            />
          </form>
        </div>

        <!-- Colonna Navbar -->
        <div class="col-lg-6 col-md-12">
          <ul
            class="nav justify-content-lg-end justify-content-center my-2 py-4 my-md-0 text-small"
          >
            <li>
              <a
               [routerLink]="['home']"
                class="nav-link text-white d-flex align-items-center"
                (mouseover)="onHoverHome()"
                (mouseout)="onHoverOutHome()"
              >
                <img
                  [src]="isHoveredHome ? '/home.gif' : '/home.png'"
                  alt="Home-Icon"
                  class="static-icon"
                  [ngClass]="{ 'gif-active': isHoveredHome }"
                />
                <span class="px-1">Home</span>
              </a>
            </li>

            <li>
              <a
                [routerLink]="['products']"
                class="nav-link text-white d-flex align-items-center"
                (mouseover)="onHoverShop()"
                (mouseout)="onHoverOutShop()"
              >
                <img
                  [src]="isHoveredShop ? '/shop.gif' : '/shop.png'"
                  alt="Shop-Icon"
                  class="static-icon"
                  [ngClass]="{ 'gif-active': isHoveredShop }"
                />
                <span class="ps-2">Products</span>
              </a>
            </li>
            <li>
              <a
                [routerLink]="['cart']"
                class="nav-link text-white d-flex align-items-center position-relative"
                (mouseover)="onHoverCart()"
                (mouseout)="onHoverOutCart()"
              >
                <img
                  [src]="
                    isHoveredCart ? '/shopping-cart.gif' : '/shopping-cart.png'
                  "
                  alt="Cart-Icon"
                  class="static-icon-cart"
                  [ngClass]="{ 'gif-active': isHoveredCart }"
                />
                <span class="px-2">Cart</span>
                <!-- Badge dinamico -->
                <span
                  *ngIf="cartCount > 0"
                  class="position-absolute top-1 custom-start translate-middle badge rounded-pill bg-danger "
                >
                  {{ cartCount }}
                </span>
              </a>
            </li>

            <li>
              <a
                href="#"
                class="nav-link text-white d-flex align-items-center"
                (mouseover)="onHoveredProfile()"
                (mouseout)="onHoverOutProfile()"
              >
                <img
                  [src]="isHoveredProfile ? '/profile.gif' : '/profile.png'"
                  alt="Profile-icon"
                  class="static-icon-profile"
                  [ngClass]="{ 'gif-active': isHoveredProfile }"
                />
                <span class="ps-1">Profile</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>
