.card {
  border: 1px solid #ddd;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.card:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}

.card-img-top {
  height: 200px;
  object-fit: contain; /* Assicura che l'immagine sia contenuta interamente */
}

.carousel-inner {
  text-align: center;
}

.carousel-indicators button {
  background-color: #909092;
}
.carousel-control-prev span,
.carousel-control-next span {
  color: #000; /* Colore delle frecce */
  background-color: rgba(255, 255, 255, 0.5); /* Sfondo trasparente */
  border-radius: 50%; /* Forma circolare */
  padding: 10px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}


