/* Background and overlay */
.home-section {
  background: url('/home-bg.jpg') no-repeat center center fixed;
  background-size: cover;
  min-height: 100vh;
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

/* Center content in hero section */
.home-container {
  z-index: 2;
  min-height: 100vh;
}
/* Media query per dispositivi mobili */
@media (max-width: 768px) {
  .home-section {
    background: url('/mobile-bg.jpg') no-repeat center center;
    background-size: cover; /* Adatta l'immagine al contenitore */
    min-height: 70vh; /* Riduce l'altezza per dispositivi mobili */
  }

  
}
/* Carousel styling */
.product-carousel {
  width: 80%;
  max-width: 900px;
  height: auto;
}

.carousel-image {
  object-fit: contain;
  max-height: 400px;
}

/* Caption styling */
.caption-overlay {
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 0.5rem;
}
/* Stile base del pulsante */
.btn-discover {
  background: linear-gradient(45deg, #cb8711, #78a9fe); /* Sfondo sfumato */
  color: #fff; /* Colore del testo */
  font-weight: bold; /* Testo in grassetto */
  border: none; /* Nessun bordo */
  transition: all 0.3s ease; /* Animazione morbida */
}

/* Effetto al passaggio del mouse */
.btn-discover:hover {
  background: linear-gradient(45deg,#78a9fe,  #cb8711); /* Inverte i colori del gradiente */
  
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2); /* Aggiunge un'ombra */
}

/* Effetto al clic */
.btn-discover:active {
  transform: scale(1); /* Torna alla dimensione originale */
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Riduce l'ombra */
}
